<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="Error_Log" value="C:\Inetpub\wwwroot\WebServiceTpv\Log\Error.txt"/>
		<add key="Cx_Log" value="C:\Inetpub\wwwroot\WebServiceTpv\Log\Conexion.txt"/>
		<add key="ConfFich" value="C:\Inetpub\wwwroot\WebServiceTpv\Log\NavisionCx.config"/>
		<add key="VISOR_SUCESOS" value="C:\Inetpub\wwwroot\WebServiceTpv\Log"/>
		<add key="NOMBRE_SERVIDOR_COLAS" value="lab_nastienda11"/>
		<add key="COLA_TO_NAVISION" value="private$\labtonav"/>
		<add key="COLA_FROM_NAVISION" value="private$\labfromnav"/>
		<add key="TIME_OUT_MILISEG_GRABAR_CABECERA" value="10000"/>
		<add key="TIME_OUT_MILISEG_GRABAR_LINEAS" value="10000"/>
		<add key="FECHA_ULTIMOS_PRODUCTOS_COMPRADOS" value="4"/>
		<add key="DEBUG_INICIO" value="YES"/>
		<add key="MAIL_ERRORS" value="YES"/>
		<add key="SMTP" value="smtp.bimbaylola.com"/>
		<add key="MAIL_ERRORS_TO" value="fcrespo@bimbaylola.com"/>		
	</appSettings>	
	
	<system.web>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
			</assemblies>
		</compilation>

		<authentication mode="Windows"/>		
	</system.web>
</configuration>

